/* general rules */
body {
    color: white;
    font-size: 10px;
}

/* star  */
.star-flex-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.star {
    width: 30%;
}

.star .line {
    height: 3px;
    background-color: white;
    width: 100%;
}

.star .fa-star {
    font-size: 2rem;
    padding: 2px;
}

/* MOBILE VERSION */
/* debugging rules */
header div {
    background-color: aquamarine;
    border: 1px solid black;
    height: 100%;
}

/* header */
header {
    height: 100px;
    background-color: #2c3e50;
}

/* banner */
.banner {
    background-color: #1abc9c;
}

.banner .container img {
    width: 30%;
    margin: 20px 0;
}

.user {
    font-size: 1.2rem;
    padding: 10px 0;
}

/* portfolio */
.portfolio {
    color: black;
    padding: 35px 0;
}

.portfolio .star-flex-container {
    margin: 20px 0;
}

.portfolio .line {
    background-color: black;
}

.portfolio img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* .portfolio .debug {
    background-color: darkgoldenrod;
    height: 200px;
    border: 1px solid black;
} */

/* about */
.about {
    background-color: darkmagenta;
    height: 400px;
}

.about .debug {
    background-color: darkolivegreen;
    height: 400px;
    border: 1px solid black;
}

/* contact */
.contact {
    background-color: dimgray;
}

.contact div {
    background-color: deeppink;
    height: 600px;
}

/* info */
.info {
    background-color: firebrick;
}

.info .debug {
    background-color: green;
    border: 1px solid black;
    height: 300px;
}

/* footer */
footer {
    background-color: #2c3e50;
    height: 200px;
}

/* TABLET VERSION */

/* DESKTOP VERSION */
@media screen and (min-width: 992px) {
    .star {
        width: 22%;
    }
}